$disabled-color: #2b2b2b;
$base-color: #464646;
$active-color: #b7b7b7;
$title-color: #737373;
$title-active-color: #cdcdcd;

//$secondary-color: #309975;
//$primary-color: #58b368;

//$primary1-color: #f55951;
//$secondary1-color: darken($primary1-color, 5%);